{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
    <div class="columns mh-window m-0">
        <div class="column is-8 is-flex is-flex-direction-column is-justify-content-center p-6">
            {% include 'unauthorized/description.html' %}
        </div>
        <div class="column has-background-black-ter is-flex is-flex-direction-column is-justify-content-center p-6">
            {% block unauthorized_content_inner %}{% endblock %}
        </div>
    </div>
{% endblock %}