<div class="navbar px-4 has-background-black-ter">
    <div class="navbar-brand">
        <h1 class="navbar-item has-text-white-bis has-text-weight-bold is-size-5">IP-Hunter</h1>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="header-navbar">
            <span class="has-background-white" aria-hidden="true"></span>
            <span class="has-background-white" aria-hidden="true"></span>
            <span class="has-background-white" aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu has-background-black-ter" id="header-navbar">
        <div class="navbar-start is-flex is-align-items-center">
            <div class="navbar-item buttons">
                <a class="button is-white is-inverted has-background-transparent" href="{{ url_for('links.links') }}">Links</a>
                <a class="button is-white is-inverted has-background-transparent" href="{{ url_for('aliases.aliases') }}">Aliases</a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item buttons">
                <a class="button is-light is-inverted has-background-transparent" href="{{ url_for('accounts.profile') }}">{{ username }}</a>
                <a class="button is-danger" href="{{ url_for('accounts.logout') }}">Log out</a>
            </div>
        </div>
    </div>
</div>