{% extends "base.html" %}

{% block header %}
    {% include 'authorized/header.html' %}
{% endblock %}

{% block content %}
    <div class="columns is-centered">
        <div class="column is-half p-6">
            <div class="block">
                <h2 class="is-size-2 has-text-weight-bold has-text-white-bis" style="line-height: normal;">
                    {% block authorized_content_title %}{% endblock %}
                </h2>
            </div>
            {% block authorized_content_inner %}{% endblock %}
        </div>
    </div>
{% endblock %}