{% extends "authorized/layout.html" %}

{% block authorized_content_title %}Edit profile{% endblock %}

{% block authorized_content_inner %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="block">
            {% if get_flashed_messages() %}
                <p class="has-text-danger has-text-centered">{{ get_flashed_messages()[0] }}</p>
            {% endif %}
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="current_password">Current password <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input class="input {% if form.current_password.errors %}is-danger{% endif %}" id="current_password" name="current_password" type="password" placeholder="Your password" minlength="8" maxlength="32">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.current_password.errors %}
                    <p class="help is-danger">{{ form.current_password.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="new_username">New username</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.new_username.errors %}is-danger{% endif %}" id="new_username" name="new_username" type="text" placeholder="e.g. polinka2002" minlength="4" maxlength="32">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                {% if form.new_username.errors %}
                    <p class="help is-danger">{{ form.new_username.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="new_password">New password</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.new_password.errors %}is-danger{% endif %}" id="new_password" name="new_password" type="password" placeholder="********" minlength="8" maxlength="32">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.new_password.errors %}
                    <p class="help is-danger">{{ form.new_password.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="confirm_new_password">Confirm new password</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.confirm_new_password.errors %}is-danger{% endif %}" id="confirm_new_password" name="confirm_new_password" type="password" placeholder="********" minlength="8" maxlength="32">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.confirm_new_password.errors %}
                    <p class="help is-danger">{{ form.confirm_new_password.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <button class="button is-primary w-full">Save</button>
        </div>
    </form>
{% endblock %}