{% extends "unauthorized/layout.html" %}

{% block unauthorized_content_inner %}
    <h1 class="is-size-3 has-text-weight-bold has-text-white-bis">Log in</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="my-6">
            {% if get_flashed_messages() %}
                <p class="has-text-danger has-text-centered">{{ get_flashed_messages()[0] }}</p>
            {% endif %}
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="username">Username</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.username.errors %}is-danger{% endif %}" id="username" name="username" type="text" placeholder="Your username" minlength="4" maxlength="32" value="{{ form.username.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                {% if form.username.errors %}
                    <p class="help is-danger">{{ form.username.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="password">Password</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.password.errors %}is-danger{% endif %}" id="password" name="password" type="password" placeholder="Your password" minlength="8" maxlength="32" value="{{ form.password.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.password.errors %}
                    <p class="help is-danger">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="is-flex is-align-items-center">
                <input id="remember_me" name="remember_me" type="checkbox">
                <label class="checkbox ml-3 has-text-black-bis has-text-white-bis" for="remember_me">Remember me</label>
            </div>
        </div>
        <button class="button is-primary w-full">Log in</button>
        <div class="has-text-centered mt-3 has-text-white-bis is-flex is-align-items-center is-justify-content-center">Don't have an account yet? <a class="button is-ghost" href="{{ url_for('accounts.signup') }}">Sign up</a></div>
    </form>
{% endblock %}