{% extends "unauthorized/layout.html" %}

{% block unauthorized_content_inner %}
    <h1 class="is-size-3 has-text-weight-bold has-text-white-bis">Sign up</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="my-6">
            {% if get_flashed_messages() %}
                <p class="has-text-danger has-text-centered">{{ get_flashed_messages()[0] }}</p>
            {% endif %}
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="username">Username <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.username.errors %}is-danger{% endif %}" id="username" name="username" type="text" placeholder="e.g. polinka2002" minlength="4" maxlength="32" value="{{ form.username.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
                {% if form.username.errors %}
                    <p class="help is-danger">{{ form.username.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="password">Password <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.password.errors %}is-danger{% endif %}" id="password" name="password" type="password" placeholder="********" minlength="8" maxlength="32" value="{{ form.password.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.password.errors %}
                    <p class="help is-danger">{{ form.password.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="confirm_password">Confirm password <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.confirm_password.errors %}is-danger{% endif %}" id="confirm_password" name="confirm_password" type="password" placeholder="********" minlength="8" maxlength="32" value="{{ form.confirm_password.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                {% if form.confirm_password.errors %}
                    <p class="help is-danger">{{ form.confirm_password.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <button class="button is-primary is-rounded w-full">Sign up</button>
        <div class="has-text-centered mt-3 has-text-white-bis is-flex is-align-items-center is-justify-content-center">Already have an account? <a class="button is-ghost" href="{{ url_for('accounts.login') }}">Log in</a></div>
    </form>
{% endblock %}