@import "https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css";
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.mh-window {
    min-height: 100vh!important;
}

.w-full {
    width: 100%!important;
}

.is-slightly-rounded {
    border-radius: 4px!important;
}

.is-l-rounded {
    border-top-left-radius: 100px!important;
    border-bottom-left-radius: 100px!important;
}

.is-r-rounded {
    border-top-right-radius: 100px!important;
    border-bottom-right-radius: 100px!important;
}

.is-border-none, .is-border-none tr, .is-border-none th, .is-border-none td {
    border: none!important;
}

.has-background-transparent {
    background-color: transparent!important;
}
