{% extends "authorized/layout.html" %}

{% block authorized_content_title %}Add alias{% endblock %}

{% block authorized_content_inner %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="block">
            {% if get_flashed_messages() %}
                <p class="has-text-danger has-text-centered">{{ get_flashed_messages()[0] }}</p>
            {% endif %}
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="ip_address">IP address <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.ip_address.errors %}is-danger{% endif %}" id="ip_address" name="ip_address" type="text" placeholder="e.g. 192.168.0.1" maxlength="15" value="{{ form.ip_address.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                </div>
                {% if form.ip_address.errors %}
                    <p class="help is-danger">{{ form.ip_address.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="alias">Alias <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.alias.errors %}is-danger{% endif %}" id="alias" name="alias" type="text" placeholder="e.g. John" maxlength="64" value="{{ form.alias.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user-tag"></i>
                    </span>
                </div>
                {% if form.alias.errors %}
                    <p class="help is-danger">{{ form.alias.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <button class="button is-primary w-full">Add</button>
        </div>
    </form>
{% endblock %}