{% extends "authorized/layout.html" %}

{% block authorized_content_title %}My aliases{% endblock %}

{% block authorized_content_inner %}
    <div class="block">
        <table class="table w-full is-border-none has-background-transparent">
            <thead>
                <tr>
                    <th class="has-text-white">Alias</th>
                    <th class="has-text-white">IP-address</th>
                    <th class="has-text-white"></th>
                </tr>
            </thead>
            <tbody>
                {% for alias in aliases %}
                    <tr>
                        <td class="has-text-grey-light">{{ alias.alias }}</td>
                        <td class="has-text-grey-light">{{ alias.ip_address }}</td>
                        <td class="has-text-grey-light is-flex is-justify-content-end">
                            <div class="buttons">
                                <a class="button is-light is-small mr-3" href="{{ url_for('aliases.edit_alias', alias_id=alias.id) }}">Edit</a>
                                <a class="button is-danger is-small" href="{{ url_for('aliases.delete_alias', alias_id=alias.id) }}">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="block">
        <a class="button is-primary py-3 px-5 is-flex is-justify-content-center is-align-items-center" href="{{ url_for('aliases.add_alias') }}">Add alias</a>
    </div>
{% endblock %}