{% extends "authorized/layout.html" %}

{% block authorized_content_title %}Add link{% endblock %}

{% block authorized_content_inner %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="block">
            {% if get_flashed_messages() %}
                <p class="has-text-danger has-text-centered">{{ get_flashed_messages()[0] }}</p>
            {% endif %}
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="target_link">Target link <span class="has-text-danger">*</span></label>
                <div class="control has-icons-left">
                    <input required class="input {% if form.target_link.errors %}is-danger{% endif %}" id="target_link" name="target_link" type="text" placeholder="e.g. http://127.0.0.1:5000" maxlength="256" value="{{ form.target_link.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-link"></i>
                    </span>
                </div>
                {% if form.target_link.errors %}
                    <p class="help is-danger">{{ form.target_link.errors[0] }}</p>
                {% endif %}
            </div>
            <div class="field">
                <label class="label has-text-white-bis has-text-weight-medium" for="label">Label</label>
                <div class="control has-icons-left">
                    <input class="input {% if form.label.errors %}is-danger{% endif %}" id="label" name="label" type="text" placeholder="e.g. My Super Link" maxlength="64" value="{{ form.label.data }}">
                    <span class="icon is-small is-left">
                        <i class="fas fa-tag"></i>
                    </span>
                </div>
                {% if form.label.errors %}
                    <p class="help is-danger">{{ form.label.errors[0] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="block">
            <button class="button is-primary w-full">Add</button>
        </div>
    </form>
{% endblock %}