{% extends "authorized/layout.html" %}

{% block authorized_content_title %}
    <span>Link</span>
    <span class="has-text-grey-light has-text-weight-medium">
        {% if link.label %}
            &laquo;{{ link.label }}&raquo;
        {% else %}
            &laquo;{{ link.target_link }}&raquo;
        {% endif %}
    </span>
{% endblock %}

{% block authorized_content_inner %}
    <div class="block">
        <div class="field has-addons">
            <div class="control w-full">
                <label class="is-sr-only" for="redirect-link"></label>
                <input disabled class="input pl-5" id="redirect-link" name="redirect-link" type="text" value="{{ link.redirect_link }}">
            </div>
            <div class="control">
                <button class="button is-primary pr-5" id="copy-redirect-link-btn">Copy</button>
            </div>
        </div>
    </div>
    <div class="block">
        <table class="table w-full has-background-transparent">
            <thead>
                <tr>
                    <th class="has-text-white">IP-address/Label</th>
                    <th class="has-text-white">Location</th>
                    <th class="has-text-white">Time visited</th>
                </tr>
            </thead>
            <tbody id="visits">
                {% for visit in visits %}
                     <tr>
                        <td class="has-text-grey-light">{{ visit.label }}</td>
                        <td class="has-text-grey-light">{{ visit.location }}</td>
                        <td class="has-text-grey-light">{{ visit.time_visited|prettify_datetime }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function() {
            setInterval(() => {
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    xhrFields: {
                       withCredentials: true
                    },
                    success: response => {
                        const newVisits = response['new_visits'];
                        const visitsTable = $('#visits');
                        newVisits.forEach(visit => {
                            const visitTR = $('<tr></tr>');
                            visitTR.append($('<td class="has-text-grey-light"></td>').text(visit['label']));
                            visitTR.append($('<td class="has-text-grey-light"></td>').text(visit['location']));
                            visitTR.append($('<td class="has-text-grey-light"></td>').text(visit['time_visited']));
                            visitsTable.prepend(visitTR);
                        });
                    }
                });
            }, 5000);
            $('#copy-redirect-link-btn')[0].addEventListener('click', e => {
                const redirectLinkInput = $('input#redirect-link');
                redirectLinkInput.prop('disabled', false);
                redirectLinkInput.focus();
                redirectLinkInput.select();
                document.execCommand('copy');
                redirectLinkInput.blur();
                if (window.getSelection) {window.getSelection().removeAllRanges();}
                else if (document.selection) {document.selection.empty();}
                redirectLinkInput.prop('disabled', true);
            });
        });
    </script>
{% endblock %}