{% extends "authorized/layout.html" %}

{% block authorized_content_title %}My links{% endblock %}

{% block authorized_content_inner %}
    <div class="block">
        {% for link in links %}
            <div class="block py-3 px-5 is-flex is-justify-content-space-between is-align-items-center is-slightly-rounded has-background-black-ter">
                <div class="has-text-white-bis">
                    {% if link.label %}
                        {{ link.label }}
                    {% else %}
                        {{ link.target_link }}
                    {% endif %}
                </div>
                <div class="buttons">
                    <a class="button is-white is-inverted has-background-transparent is-small" href="{{ url_for('links.link', link_id=link.id) }}">View</a>
                    <a class="button is-danger is-outlined is-small" href="{{ url_for('links.delete_link', link_id=link.id) }}">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="block">
        <a class="button is-primary py-3 px-5 is-flex is-justify-content-center is-align-items-center" href="{{ url_for('links.add_link') }}">Add link</a>
    </div>
{% endblock %}